.pytest_cache/
.ruff_cache/
.venv/
.vscode/
__pycache__/
data/
mlruns/
multirun/
outputs/
simplexity/configs/*hyperopt*
simplexity/configs/training/*hyperopt*
simplexity/configs/evaluation/*hyperopt*
simplexity/configs/test_rpn_arithmetic.yaml
scripts/
HYPEROPT_SETUP.md
config.ini
*temp*
# MLflow tracking data
mlruns/
